.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
}

.CauseForm {
  width: 800px;
}

.CauseList {
  width: 800px;
}

.UserDetail {
  width: 800px;
  /*align-self: center; */
}

.CreateCauseForm {
  width: 800px;
}

.ToggleButton {
  width: 1200px;
}